.text {
    color:#2196F3;
}
.link {
    text-decoration: none;
    color:black;
    font-size: 24px;
}

.list{
    color:black;
    list-style: none;
    font-size: 14px;
}
..link-contact{
    color:#2196F3;
}
.list a{
    text-decoration: none;
   
}
.list:first-child{
    color:#2196F3;
}
.title_h1{
    font-size: 44px;
}
/* Стили раздела "решения для бизнеса" */
.decisions-title{
    font-size: 14px;
    font-weight: bold;
}
.decisions-text {
    font-weight: 400;
    color:#757575;
    letter-spacing: 3%;
}
.then-title .team-title{
    font-size: 36px;
}
.then-ul, .team-ul, .title-ul{
    list-style: none;
}
.then-ul a, .team-ul a, .title-ul a{
    text-decoration: none;
}